* {
    margin: 0 0;
    padding: 0 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-rows: auto auto;
    background: url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    backdrop-filter: blur(1.75px);
}

/* Navigation Bar */
nav {
    min-height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    font-size: clamp(0.75rem, 5vw, 1.10rem);
    background-color: transparent;
    border: none;
    color: #1C1C1C;
    margin: 1rem 1rem 0 2rem;
}

.page:hover {
    cursor: pointer;
}

#currentPage {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 2rem;
    justify-content: center;
    align-items: center;
}

#currentPage h3 {
    margin: 0;
}

#currentPage hr{
    margin: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #1C1C1C;
    border: none;
}

#contact {
    border: solid 1.5px #1A437F;
    border-radius: 3px;
    height: fit-content;
    padding: 0.2rem 1.2rem;
    margin: 1rem 1rem 0 auto;
    color: #1C1C1C;
    font-weight: 500;
    box-shadow: 0px 1px 3px #1A437F;
}

#contact:hover {
    background-color: #1A437F;
    color: #FFFFFF;
    border: solid 1.5px #1A437F;
    box-shadow: 0px 1px 3px #1A437F;
    
}

#contact:active{
    box-shadow: none;
}

@media screen and (max-width: 980px){
    #contact {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    #currentPage {
        margin: 1rem 0rem 0 3rem;
    }

    .page {
        margin: 1rem 0 0 1.5rem;
    }
}

/***********************************************/

main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto max-content max-content max-content max-content auto;

}

main h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    color:#FFFFFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    margin: 0;
    overflow: auto;
    grid-row: 2;
}

.secondLine {
    margin-bottom: 1rem;
    grid-row: 3;
}

main h4 {
    font-weight: 900;
    font-size: 1rem;
    color: #F5F5F5;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    max-width: 600px;
    margin-bottom: 1.5rem;
    grid-row: 4;
}

#directButtons {
    width: fit-content;
    grid-row: 5;
}

#directButtons button {
    padding: 0.75rem 1.5rem;
    margin: 0 1rem 1rem 0;
    border: solid 1.5px;
    border-radius: 3px;
    cursor: pointer;
    color: #FFFFFF;
}

#directButtons .filled {
    border: none;
    background-color: #1A437F;
    font-weight: bold;
    box-shadow: 0px 1px 3px #1C1C1C;
}

#directButtons .unfilled {
    border: solid 1.5px #1A437F;
    background-color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 1px 3px #1A437F;
    color: #1C1C1C;
}

#directButtons .filled:active {
    box-shadow: none;
}

#directButtons .unfilled:active {
    box-shadow: none;
}

/* Fonts */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite-ie-font {
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}